<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <footer>
        <p class="footer">Created by <a href="https://www.linkedin.com/in/chinmay2660/">Chinmay Bhoir</a></p>
    </footer>
</body>