body {
  background-color: #e8ecef;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  color: white !important;
  background-color: #343a40;
  text-align: center;
  padding: 20px 0;
}
